/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/formularios
/vendor
/coverage
backend.zip
vendor.zip
.env
.env.backup
.env.example
.env.testing
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

privateKey.pem
publicKey.pem

/public/build
/public/static

# Elastic Beanstalk Files
.ebextensions/*
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml