option_settings:
  aws:elasticbeanstalk:environment:process:default:
    Port: '80'
    Protocol: HTTP
  aws:elb:listener:80:
    ListenerEnabled: true
  aws:elb:policies:sessionstickiness:
    CookieName: hipocrates_session
    LoadBalancerPorts: 80
  aws:elasticbeanstalk:application:environment:
    APP_DEBUG: true
    APP_ENV: local
    APP_KEY: "base64:BUKxTgt61gEudRA0pKzr7c6QMg9kUurPO1I9sBUOLy8="
    APP_NAME: Hipocrates
    DB_CONNECTION: mysql_rds
    SESSION_DRIVER: cookie
    SESSION_LIFETIME: 120
    SESSION_DOMAIN: ".hipocratesproject.ga"
    SANCTUM_STATEFUL_DOMAINS: "cajasaludcaminos-env.eba-pxqt9yrh.us-east-2.elasticbeanstalk.com, hipocratesproject.ga, www.hipocratesproject.ga"
    LOG_CHANNEL: stack
    LOG_LEVEL: debug
