option_settings:
  aws:elasticbeanstalk:environment:process:https:
    Port: '443'
    Protocol: HTTPS
  aws:elb:listener:80:
    DefaultProcess: https
    ListenerEnabled: true
  aws:elbv2:listener:443:
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-east-2:816797922813:certificate/54746c97-b7aa-4f98-815b-b50d0ce1bb26
  aws:elb:policies:sessionstickiness:
    CookieName: hipocrates_session
    LoadBalancerPorts: 80
  aws:elasticbeanstalk:application:environment:
    APP_DEBUG: true
    APP_ENV: local
    APP_KEY: "base64:BUKxTgt61gEudRA0pKzr7c6QMg9kUurPO1I9sBUOLy8="
    APP_NAME: Hipocrates
    DB_CONNECTION: mysql_rds
    SESSION_DRIVER: cookie
    SESSION_LIFETIME: 120
    SESSION_DOMAIN: ".hipocratesproject.ga"
    SANCTUM_STATEFUL_DOMAINS: "cajasaludcaminos-env.eba-pxqt9yrh.us-east-2.elasticbeanstalk.com, hipocratesproject.ga, www.hipocratesproject.ga"
    LOG_CHANNEL: stack
    LOG_LEVEL: debug
